.button {
    border: 1px solid var(--sqlime-blue);
    border-radius: var(--sqlime-radius-small);
    background: transparent;
    padding: 0.5rem;
    color: var(--sqlime-blue);
    cursor: pointer;
    transition: background-color var(--sqlime-transition), color var(--sqlime-transition);
}
.button:hover {
    background: var(--sqlime-blue);
    color: var(--sqlime-white);
}
.button:disabled {
    opacity: 0.5;
    cursor: default;
}
.button:disabled:hover {
    pointer-events: none;
    background: transparent;
    color: var(--sqlime-blue);
}

.button--small {
    border-radius: var(--sqlime-radius-small);
    padding: 0.25rem 0.625rem;
    font-size: 90%;
}
